<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur10e-2f_85_gripper">

  <!-- Import main macro for UR(10e) & Robotiq 2f-85 -->
  <xacro:include filename="$(find ur_gazebo)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model_macro.xacro"/>

  <!--Declare arguments -->
  <xacro:arg name="ur_joint_limit_params" default="(find ur_description)/config/ur10e/joint_limits.yaml"/>
  <xacro:arg name="ur_kinematics_params" default="(find ur_description)/config/ur10e/default_kinematics.yaml"/>
  <xacro:arg name="ur_physical_params" default="(find ur_description)/config/ur10e/physical_parameters.yaml"/>
  <xacro:arg name="ur_visual_params" default="(find ur_description)/config/ur10e/visual_parameters.yaml"/>
  <xacro:arg name="ur_transmission_hw_interface" default="hardware_interface/EffortJointInterface"/>
  <xacro:arg name="ur_safety_limits" default="false"/>
  <xacro:arg name="ur_safety_pos_margin" default="0.15"/>
  <xacro:arg name="ur_safety_k_position" default="20"/>
  <xacro:property name="flange_hand">
    <origin xyz="0.0 0.0 0.045" rpy="${pi/2} 0.0 0.0"/>
  </xacro:property>

  <!-- Instantiate the UR(10e) robot and pass it all the required arguments. -->
  <xacro:ur_robot_gazebo
    prefix=""
    joint_limits_parameters_file="$(arg ur_joint_limit_params)"
    kinematics_parameters_file="$(arg ur_kinematics_params)"
    physical_parameters_file="$(arg ur_physical_params)"
    visual_parameters_file="$(arg ur_visual_params)"
    transmission_hw_interface="$(arg ur_transmission_hw_interface)"
    safety_limits="$(arg ur_safety_limits)"
    safety_pos_margin="$(arg ur_safety_pos_margin)"
    safety_k_position="$(arg ur_safety_k_position)"
  />

  <!-- Load the Gazebo standard parameter "world" and fix the base of the UR(10e). -->
  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>

  <xacro:robotiq_arg2f_85 prefix=""/>

  <joint name="flange" type="fixed">
    <parent link="tool0"/>
    <child link="robotiq_arg2f_base_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>

    <gazebo>
        <plugin name="ros_control" filename="libgazebo_ros_control.so">
        </plugin>
    </gazebo>
</robot>
